doctype html
html(data-ng-app="NoerdDk", lang="da")
    head
        title ImageToGradient
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='./css/main.css')
        block head
        // Fonts
        link(type="text/css", rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,700,400')

    body
        block glovalVars
        block body
        section.site
            aside.site__content
                block content
        script(src="/frost.Assets/scripts/main.js")
