extends ../master


block append content

    img(id="my-image", src="/images/850x584_spots_jul_stegtand.jpg")
    //img(id="my-image", src="/images/535x535_risengroed.jpg")
    //img(id="my-image", src="/images/content/box2.jpg")
    //img(id="my-image", src="/images/content/box1.jpg")
